test_src
test_dst
*.o
build
*target
.fsyncer-*
bindgen
*.fj
*.fs
doc/mirror.exe
doc/mirror.obj

# Magic rule to exclude binaries in test 
test/*
!test/*.*
test/ioctl_client
.vscode/*
!.vscode/c_cpp_properties.json